website_data:
  url: http://1.1.1.1/site/
    queries:

      homepage_article_links: '.headline a'
      article_title: '.a_hg h1'
      article_body: '.a_w'
  elpais2:
    url: https://www.elpais.com/mexico/
    queries:
      homepage_article_links: '.headline a'
      article_title: '.a_hg'
      article_body: '.a_b p'